//***** Color *****
$yellow: #FFEA2E;
$green: #1FA773;
$lightGreen: #58C8AD;
$grey: #FAF9F8;
$blue: #A0CAFF;
$greenLite: #E1FFF4;
$brown: #4B4B4A;

//***** Color-gradient *****
$greenGradient: linear-gradient(267.4deg, #1FA773 19.91%, #78DACE 105.81%);

//***** Fonts *****
$gilroy: 'Gilroy', sans-serif;
